body {
    font-family: "Varela Round", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #4267B0;
}

.main-element {
    min-height: 270px;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;;
}

.main-element p {
    font-size: 14px;
    color: #fff !important;
}

.btn-main {
    background-color: transparent;
    color: #fff !important;
}

.title-border {
    background-color: #F4F4F4;
}

.psoni {
    background-color: #4267B0;
}

.orew {
    background-color: #F2BC2D;
}

.nps {
    background-color: #CA3768;
}

.sds {
    background-color: #81256F;
}

.pu {
    background-color: #BC4F2F;
}

.pp {
    background-color: #FDB031;
}

.krs {
    color: #F18F28;
}

.psoni-nav {
    font-weight: 200px;
    border-top: #4267B0 4px solid;
}

.orew-nav {
    font-weight: 200px;
    border-top: #F2BC2D 4px solid;
}

.nps-nav {
    font-weight: 200px;
    border-top: #CA3768 4px solid;
}

.sds-nav {
    font-weight: 200px;
    border-top: #81256F 4px solid;
}

.pu-nav {
    font-weight: 200px;
    border-top: #BC4F2F 4px solid;
    border-bottom: #BC4F2F 1px solid;
}

.pu.title {
    background-color: #F4F4F4;
}

.pp-nav {
    font-weight: 200px;
    border-top: #FDB031 4px solid;
}

.btn-krs {
    color: #fff !important;
    background-color: #F18F28 !important;
}

.footer-top {
    background-color: #F2F2F2;
}