body, h1, h2, h3, h4, h5, h6, p, li {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

h1 {
    font-size: 32px !important;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #4267B0;
}

/* Navigation */
.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0;
}

.dropdown-item a {
    color: #000;
}

.nav-item.dropdown .dropdown-item:active {
    background-color: #4267B0 !important;
}

.dropdown-menu {
    background-color: #4267B0 !important;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:hover {
    background-color: #35528D !important;
}
/* -=-=- */

.main-element {
    min-height: 270px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;;
}

.main-element p {
    font-size: 14px;
    color: #fff !important;
}

.btn-main {
    background-color: transparent;
    color: #fff !important;
}

.title-border {
    background-color: #F4F4F4;
}

.img-posts-list {
    max-width: 200px;
    max-height: 200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
}

.psoni {
    background-color: #4267B0;
}

.orew {
    background-color: #F2BC2D;
}

.nps {
    background-color: #CA3768;
}

.sds {
    background-color: #81256F;
}

.pu {
    background-color: #BC4F2F;
}

.pp {
    background-color: #FDB031;
}

.mt {
    background-color: #BB4E2F;
}

.krs {
    color: #EE7202;
}

.psoni-nav {
    font-weight: 200px;
    border-top: #4267B0 4px solid;
    background-color: #fff;
}

.orew-nav {
    font-weight: 200px;
    border-top: #F2BC2D 4px solid;
    background-color: #fff;
}

.nps-nav {
    font-weight: 200px;
    border-top: #CA3768 4px solid;
    background-color: #fff;
}

.sds-nav {
    font-weight: 200px;
    border-top: #81256F 4px solid;
    background-color: #fff;
}

.pu-nav {
    font-weight: 200px;
    border-top: #BC4F2F 4px solid;
    background-color: #fff;
}

.pu.title {
    background-color: #F4F4F4;
}

.pp-nav {
    font-weight: 200px;
    border-top: #FDB031 4px solid;
    background-color: #fff;
}

.mt-nav {
    font-weight: 200px;
    border-top: #BB4E2F 4px solid;
    background-color: #fff;
}

.kt-nav {
    font-weight: 200px;
    border-top: #81256E 4px solid;
    background-color: #fff;
}

.wsm-nav {
    font-weight: 200px;
    border-top: #aa8b26 4px solid;
    background-color: #fff;
}

.ord-nav {
    font-weight: 200px;
    border-top: #9c0f32 4px solid;
    background-color: #fff;
}

.btn-krs {
    color: #fff !important;
    background-color: #EE7202 !important;
}

.footer-top {
    background-color: #F2F2F2;
}

.footer-bottom {
    border-top: #4267B0 1px solid;
}

.no-style li {
    list-style-type: none;
}

.footer-links:link {
    color: #81256E !important;
}

#map-large {
    height: 100vh;
    width: auto;
}

#map {
    height: 250px;
    width: auto;
}

.pu-header {
    color: #4267B0;
}

.logo-fb {
    max-width: 50px;
    max-height: 50px;
}

.carousel-item img {
    max-height: 530px !important;
}
.carousel-caption {
  margin-top: -40px;
  position: absolute;
  left: 0 !important;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption-left {
  color: white;
  margin-top: -40px;
  margin-left: 250px;
  position: absolute;
  left: 0 !important;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.gallery {
    width: 100%;
    background: #fff;
}

.gallery-icon {
    color: #4267B0;
}

.galleria-theme-classic {
    background-color: #F4F4F4;
}

.ord-wsparcie {
    list-style-type: none;
}

/* photoswipe */
.pswp__caption__center {text-align: center;}
figure {
display: inline-block;
width: 33.333%;
float: left;
}
.spacer {height: 5em;}
/* img {width: 100%;} */