.psoni {
    background-color: #4267B0;
}

.orew {
    background-color: #F2BC2D;
}

.nps {
    background-color: #CA3768;
}

.sds {
    background-color: #81256F;
}

.pu {
    background-color: #BC4F2F;
}

.pp {
    background-color: #FDB031;
}