<!-- ======= Footer ======= -->
{% component 'allInOneAccessibility' %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center footer-section">
                <div class="col-lg-3 col-md-3 mb-5 mt-4">
                    <h4 class="mb-3"><strong>Kontakt</strong></h4>
                    <p>
                        Polskie Stowarzyszenie na rzecz Osób
                        z Niepełnosprawnością Intelektualną
                        Koło w Staszowie
                    </p>
                    <p>
                        ul. Rytwiańska 23, 28-200 Staszów
                    </p>
                    <p>
                        NIP: 866-150-47-24
                    </p>
                    <p><strong><i class="fa-solid fa-envelope"></i></strong> <a
                           href="mailto:orew.staszow@psouu.org.pl">orew.staszow@psouu.org.pl</a></p>
                    <p><strong><i class="fa-solid fa-phone"></i></strong>15 864 37 09</p>
                    <p>
                        <a class="form-btn" href="{{ 'psoni/kontakt'|page }}">
                            Formularz kontaktowy
                        </a>
                    </p>

                </div>
                <div class="col-lg-3 col-md-3 footer-section mb-3 mt-4">
                    <h4 class="mb-3"><strong>Dowiedz się więcej</strong></h4>
                    <div id="bip" class="p-2">
                        <a href="https://www.gov.pl/bip">
                            <img src="{{ 'assets/img/bip.svg' | theme }}" alt="" class="bip-img">
                        </a>
                    </div>
                    <p>
                    <p><a href="{{ 'informacje-prawne'|page }}">Informacje prawne</a></p>
                    <p><a href="{{ 'polityka'|page }}">Polityka prywatności</a></p>
                    <p><a href="{{ 'deklaracja'|page }}">Deklaracja dostępności</a></p>
                    <p><strong>Rachunek bankowy:</strong></br><strong>Bank Spółdzielczy w Staszowie</strong></br><strong>Nr konta</strong> 25 9431 0005 2001 0019 2587 0001</p>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 footer-links mb-3 mt-4">
                    <h4 class="mb-3"><strong>Pomocne linki</strong></h4>
                    <ul class="no-style ps-0">
                        <li><a href="http://psouu.org.pl" target="_blank">Zarząd Główny PSONI</a></li>
                        <li><a href="https://staszowski.eu" target="_blank">Starostwo Powiatowe w Staszowie</a></li>
                        <li><a href="https://nfz-kielce.pl" target="_blank">NFZ</a></li>
                        <li><a href="https://kuratorium.kielce.pl" target="_blank">Kuratorium Oświaty</a></li>
                        <li><a href="https://pfron.org.pl" target="_blank">PFRON</a></li>
                        <li><a href="https://swietokrzyskie.pro" target="_blank">Urząd Marszałkowski</a></li>
                        <li><a href="https://www.kielce.uw.gov.pl" target="_blank">Świętokrzyski Urząd Wojewódzki</a></li>
                        <li><a href="https://staszow.pl" target="_blank">Urząd Miasta i Gminy w Staszowie</a></li>
                    </ul>
                    <div class="social-links mt-3 text-center">
                        <a href="https://www.facebook.com/profile.php?id=100069662767312"
                           class="facebook"
                           target="_blank">
                        <img class="logo-fb" src="{{ 'assets/img/main/fb_color.png' | theme }}" alt="facebook_logo">   
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 footer-links mb-3 mt-4">
                    <h4 class="mb-3"><strong>Na skróty</strong></h4>
                    <ul class="no-style ps-0 footer-links">
                        <li><a href="{{ 'psoni/psoni'|page }}">PSONI</a></li>
                        <li><a href="{{ 'orew/orew'|page }}">OREW</a></li>
                        <li><a href="{{ 'nps/nps'|page }}">NPS</a></li>
                        <li><a href="{{ 'sds/sds'|page }}">ŚDS</a></li>
                        <li><a href="{{ 'pu/pu'|page }}">Projekty Unijne</a></li>
                        <li><a href="{{ 'pp'|page }}">Projekty PFRON</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="row">
            <div class="col-md-6 copyright">
                &copy; {{ 'now'|date('Y') }} <strong><span>PSONI, Koło w Staszowie</span></strong>
            </div>
            <div class="col-md-6 credits text-end">
                Projekt: <a href="https://studiodevs.pl/">StudioDEVS</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->