{% set posts = posts %}

<ul class="post-list">
    {% for post in posts %}
    {% set category = post.categories|first %}
    <a href={{ "nps/news-item"|page({category: category.slug, slug: post.slug}) }}>
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                {% if post.featured_images.count %}
                <div class="col-md-3">
                    <img src="{{ post.featured_images[0].path }}" class="pt-1 card-img img-posts-list img-fluid object-fit-scale" alt="{{ post.slug }}" />
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="card-title mb-3">{{ post.title }}</h3>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <p class="card-text mt-5">
                            <small class="text-muted">Opublikowano: {{ post.published_at|date('d-m-Y') }}</small>
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <div class="card-body">
                        <h3 class="card-title mb-3">{{ post.title }}</h3>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <p class="card-text mt-5">
                            <small class="text-muted">Opublikowano: {{ post.published_at|date('d-m-Y') }}</small>
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</ul>

{% partial 'posts/pagination' posts=posts %}