<!DOCTYPE html>
<html lang="pl">
    <head>
        {% partial 'meta/meta' %}

        <!-- Galleria -->
        <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/galleria.min.js"></script>
        <style>
            .gallery{ width: 100%; height: 75vh; background: #fff }
        </style>
    </head>

    <body>
        {% partial 'common/header' %}
        {% page %}

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        {% partial 'common/footer' %}
        {% scripts %}
    </body>
</html>
