<nav class="navbar navbar-expand-lg kt-nav mb-2">
  <div class="container-fluid">
    <div class="collapse navbar-collapse text-center d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ 'pp'|page }}">Projekty PFRON</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'kt/kt'|page }}">Aktualności</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'kt/o-projekcie'|page }}">O projekcie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'kt/wsparcie'|page }}">Formy wsparcia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'kt/galeria'|page }}">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'kt/kontakt'|page }}">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>