<nav class="navbar navbar-expand-lg orew-nav mb-2 sticky-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse text-center d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ 'home'|page }}">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/orew'|page }}">Aktualności</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/galeria'|page }}">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/o-nas'|page }}">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/oferta'|page }}">Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/rekrutacja'|page }}">Rekrutacja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/kadra'|page }}">Kadra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/som'|page }}">SOM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'orew/kontakt'|page }}">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>