<nav class="navbar navbar-expand-lg pp-nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse text-center d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ 'home'|page }}">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mieszkanie treningowe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Klub Terapeutyczny</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WSM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ośrodek Rehabilitacji Dziennej</a>
        </li>
      </ul>
    </div>
  </div>
</nav>