<nav class="navbar navbar-expand-lg psoni-nav mb-2 sticky-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse text-center d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ 'home'|page }}">Strona główna</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ 'psoni/stowarzyszenie'|page }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Aktualności</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ 'psoni/galeria'|page }}">Galeria</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ 'psoni/praca'|page }}">Praca</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ 'psoni/stowarzyszenie'|page }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">O nas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ 'psoni/stowarzyszenie'|page }}">Stowarzyszenie</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ 'psoni/historia'|page }}">Historia</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ 'psoni/zarzad'|page }}">Zarząd</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ 'psoni/lokalizacja'|page }}">Lokalizacja</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'psoni/sprawozdania'|page }}">Sprawozdania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'psoni/darczyncy'|page }}">Darczyńcy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'psoni/placowka'|page }}">Placówka w Kurozwękach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ 'psoni/przetargi'|page }}>Przetargi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'psoni/kontakt'|page }}">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
