<nav class="navbar navbar-expand-lg psoni-nav mb-2">
  <div class="container-fluid">
    <div class="collapse navbar-collapse text-center d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ 'home'|page }}">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Aktualności</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sprawozdania</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Darczyńcy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Placówka w Kurozwękach</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Przetargi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>