<table>
    <tr>
        <th>Godzina</th>
        <th>Zajęcia</th>
    </tr>
    <tr>
        <td>7.00</td>
        <td>Otwarcie przedszkola</td>
    </tr>
    <tr>
        <td>7.00-7.30</td>
        <td>Zajęcia samoobsługowe w szatni i łazience</td>
    </tr>
    <tr>
        <td>7.30-8.45</td>
        <td>
            <ul>
                <li>Zabawy dowolne służące realizacji pomysłów dzieci</li>
                <li>Zabawy organizowane z inicjatywy nauczyciela: dydaktyczne, konstrukcyjne, manipulacyjne,
                    tematyczne, ruchowe</li>
                <li>Zajęcia dodatkowe: dogoterapia (poniedziałek)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>8.45-9.50</td>
        <td>
            <ul>
                <li>Zajęcia samoobsługowe: przygotowanie do śniadania (czynności porządkowe)</li>
                <li>Trening samoobsługi podczas śniadania</li>
                <li>Czynności samoobsługowe w łazience (mycie dłoni, twarzy, zębów)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9.50-10.20</td>
        <td>Zajęcia rozwijające aktywność dzieci z wykorzystaniem metod: Sensorycznej Integracji, pedagogiki
            zabawy, Ruchu Rozwijającego Weroniki Sherborne, Dobrego Startu Marty Bogdanowicz</td>
    </tr>
    <tr>
        <td>10.20-10.50</td>
        <td>Zajęcia dydaktyczne związane z realizacją programu wychowania przedszkolnego. Realizacja celów
            zawartych w Indywidualnych Programach Edukacyjno-Terapeutycznych (IPET)</td>
    </tr>
    <tr>
        <td>10.50-11.30</td>
        <td>
            <ul>
                <li>Zajęcia samoobsługowe: przygotowanie do II śniadania (czynności porządkowe)</li>
                <li>Trening samoobsługi podczas II śniadania</li>
                <li>Czynności samoobsługowe w łazience (mycie dłoni, twarzy)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>11.30-12.20</td>
        <td>Pobyt dzieci na świeżym powietrzu: spacery, gry i zabawy ruchowe, zabawy na placu zabaw, obserwacje
            przyrodnicze, prace gospodarcze, porządkowe lub ogrodnicze</td>
    </tr>
    <tr>
        <td>12.20-13.00</td>
        <td>
            <ul>
                <li>Zajęcia samoobsługowe: przygotowanie do obiadu (czynności porządkowe)</li>
                <li>Trening samoobsługi podczas obiadu</li>
                <li>Czynności samoobsługowe w łazience (mycie dłoni, twarzy)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>13.00-14.30</td>
        <td>
            <ul>
                <li>Odpoczynek (relaksacja, bajkoterapia)</li>
                <li>Realizacja zajęć z zakresu pomocy psychologiczno-pedagogicznej oraz zajęć rewalidacyjnych
                    zgodnych z rozpoznanymi potrzebami dzieci i zaleceniami zawartymi w orzeczeniu o potrzebie
                    kształcenia specjalnego</li>
                <li>Zajęcia indywidualne w oparciu o Indywidualne Programy Edukacyjno-Terapeutyczne (IPET)</li>
                <li>Zajęcia dodatkowe: religia (poniedziałek, piątek)</li>
            </ul>
        </td>
    </tr>
</table>